@import url("https://fonts.googleapis.com/css2?family=Metamorphous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: "Metamorphous", cursive;
  background-image: url(bgi280-1040.png);
  background-size: cover;
  background-position-x: 30%;
  background-repeat: no-repeat;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 20px 0;
  background-attachment: fixed;
}
.headerbox {
  width: 90%;
  background: linear-gradient(rgba(176, 77, 219, 70%), rgba(52, 45, 181, 70%));
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 70%);
  border-radius: 20px;
}
.header {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 90%);
  font-weight: 700;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  height: auto;
}
.year {
  font-size: 24px;
  color: white;
}
.monthsbox {
  height: 400px;
  width: 260px;
  display: flex;
  justify-content: center;

  margin: 20px auto;
}
.months {
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 70%);
  border-radius: 20px;
  background: linear-gradient(rgba(176, 77, 219, 70%), rgba(52, 45, 181, 70%));
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.monthname {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  font-size: 1.4rem;
  color: rgba(182, 250, 192);
}
.days {
  background: linear-gradient(rgba(70, 67, 120, 70%), rgba(42, 36, 156, 70%));
  height: 14%;
  width: 13%;
  border: 2px solid rgba(255, 255, 255, 70%);
  border-radius: 10px;
  margin-top: 2.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 90%);
  font-weight: 700;
  box-sizing: border-box;
}
.numberbox {
  height: 10%;
  width: 13%;
  background: linear-gradient(rgba(235, 235, 237, 50%), rgba(75, 74, 79, 50%));
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0%);
  color: white;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  position: relative;
}
.time {
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  right: 5px;
}
.nextmonth {
  color: rgba(70, 70, 70, 95%);
}
.black {
  color: black;
}
.red {
  color: red;
}
.blue {
  color: royalblue;
}
.green {
  color: green;
}
.yellow {
  color: yellow;
}
@media (min-width: 411px) {
  .monthsbox {
    width: 380px;
  }
  .year {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .header {
    font-size: 3rem;
  }
  .headerbox {
    height: 15vh;
  }
  .monthsbox {
    width: 700px;
    height: 600px;
  }
  .year {
    font-size: 5rem;
  }
  .monthname {
    font-size: 3rem;
  }
  .days {
    font-size: 3rem;
  }
  .numberbox {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  body {
    background-image: url(bgi1040-1440.png);
    background-size: cover;
    background-position-x: 50%;
  }
  .headerbox {
    margin: 50px 0;
  }
  .header {
    font-size: 5rem;
  }
  .monthsbox {
    width: 960px;
    height: 800px;
    margin: 50px 0;
  }
  .numberbox {
    font-size: 2.5rem;
  }
  .year {
    font-size: 7rem;
  }
  .headerbox {
    background: linear-gradient(
      rgba(35, 40, 48, 80%),
      rgba(127, 139, 163, 80%)
    );
  }
  .months {
    background: linear-gradient(
      rgba(35, 40, 48, 80%),
      rgba(127, 139, 163, 80%)
    );
  }
  .days {
    background: linear-gradient(rgba(34, 43, 64, 80%), rgba(21, 50, 115, 80%));
  }
  .numberbox {
    background: linear-gradient(rgba(94, 145, 255, 70%), rgba(0, 30, 94, 70%));
  }
  .monthname {
    margin-top: 30px;
    color: rgba(94, 145, 255);
  }
}
@media (min-width: 1200px) {
  body {
    background-image: url(bgi1200.png);
    background-size: cover;
  }
  .headerbox {
    margin: 20px;
  }
  .monthsbox {
    height: 60vh;
    width: 40%;
  }
  main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .year {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .headerbox {
    background: linear-gradient(
      rgba(143, 1, 1, 80%),
      rgba(245, 27, 27, 80%)
    );
  }
  .months {
    background: linear-gradient(
      rgba(143, 1, 1, 80%),
      rgba(143, 27, 27, 80%)
    );
  }
  .days {
    background: linear-gradient(rgba(71, 17, 17, 80%), rgba(133, 0, 0, 80%));
  }
  .numberbox {
    background: linear-gradient(rgba(247, 150, 15, 70%), rgba(84, 0, 53, 70%));
  }
  .monthname {
    margin-top: 30px;
    color: rgba(219, 199, 18);
}
